<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head></h:head>
<h:body>
	<h:outputStylesheet library="css"  name="tcStyles.css"  />
	<h:outputScript library="js" name="tcTrailOer.js" />
	<f:view>		
		<h:panelGrid columns="1">
			<h:outputLabel value="Thank you for using TrailOer application!" />
			<h:link value="Back to login page" outcome="main" />
		</h:panelGrid>
	</f:view>
</h:body>
</html>
