<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head></h:head>
<h:body>
	<h:outputStylesheet library="css"  name="tcStyles.css"  />
	<h:outputScript library="js" name="tcTrailOer.js" />
	<f:view>
		<h:form id="form1" >
			<p:menubar>
				<p:submenu label="Competition" rendered="#{main.isUserInRole('COMPETITIONS','ADMIN')}">
					<p:menuitem value="Main event" update=":mainPanel" >
						<f:setPropertyActionListener target="#{main.mainView}" value="/torEventEdit.xhtml" />
					</p:menuitem>
					<p:menuitem value="Competition" update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torCompetitionEdit.xhtml" />
					</p:menuitem>				
				</p:submenu>
				<p:submenu label="Competitors" rendered="#{main.isUserInRole('COMPETITORS','ADMIN')}">
					<p:menuitem value="Competitors" update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torCompetitorEdit.xhtml" />
					</p:menuitem>				
					<p:menuitem value="Start times" update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torCmrCmnRunEdit.xhtml" />
					</p:menuitem>					
				</p:submenu>				
				<p:submenu label="Results" rendered="#{main.isUserInRole('RESULTS','ADMIN')}">
					<p:menuitem value="Entry"  update=":mainPanel" >
						<f:setPropertyActionListener target="#{main.mainView}" value="/torSolutionEdit.xhtml" />
						<f:setPropertyActionListener target="#{torSolutionEdit.control}" value="#{false}" />
					</p:menuitem>			
					<p:menuitem value="Control"  update=":mainPanel" >
						<f:setPropertyActionListener target="#{main.mainView}" value="/torSolutionEdit.xhtml" />
						<f:setPropertyActionListener target="#{torSolutionEdit.control}" value="#{true}" />
					</p:menuitem>	
					<p:menuitem value="Reports" update=":mainPanel" >
						<f:setPropertyActionListener target="#{main.mainView}" value="/reports.xhtml" />
					</p:menuitem>
					<p:menuitem value="Complaints"></p:menuitem>						
				</p:submenu>				
				<p:submenu label="Tasks" rendered="#{main.isUserInRole('TASKS','ADMIN')}">
					<p:menuitem value="Entry"  update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torTaskEdit.xhtml" />					
					</p:menuitem>
				</p:submenu>
				<p:submenu label="Administration" rendered="#{main.isUserInRole('COMPETITORS','ADMIN')}">
					<p:menuitem value="Countrys"  update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torCountryEdit.xhtml" />
					</p:menuitem>	
					<p:menuitem value="Categorys" update=":mainPanel">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torCategoryEdit.xhtml" />
					</p:menuitem>	
					<p:menuitem value="Clubs" update=":mainPanel" rendered="#{main.isUserInRole('ADMIN')}">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torClubEdit.xhtml" />
					</p:menuitem>		
					<p:menuitem value="Types" update=":mainPanel" rendered="#{main.isUserInRole('ADMIN')}">
						<f:setPropertyActionListener target="#{main.mainView}" value="/torTypesEdit.xhtml" />
					</p:menuitem>		
				</p:submenu>	
				<f:facet name="options">
					<h:panelGrid columns="2">				
			            <p:inputText readonly="true" style="width: 300px; text-align: center; margin-right:5px;margin-top:2px;" value="#{main.openTorEvent.code} - #{main.openTorEvent.name}" />
						<p:splitButton value="#{main.username}" icon="ui-icon-person">
							<p:menuitem value="Log off" action="#{main.logOff}"  icon="ui-icon-power" process="@this" partialSubmit="true"/>
						</p:splitButton>				            
		            </h:panelGrid>
		        </f:facet>			
			</p:menubar>
		</h:form>
		<p:outputPanel layout="block" id="mainPanel">
			<f:subview id="main">
				<ui:include src="#{main.mainView}" >
				</ui:include>
			</f:subview>
		</p:outputPanel>
	</f:view>
</h:body>
</html>