<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formReports" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"  />  	
		<p:panel header="Results">
			<p:outputPanel layout="block" id="selectEvent">
				<h:panelGrid columns="6">
					<h:outputLabel value="Event" />
					<h:outputLabel value="Competition" />
					<h:outputLabel value="Stage" />
					<h:outputLabel value="Category" />
					<h:outputLabel value="Team" />
					<h:outputLabel value="" />
					<p:selectOneMenu value="#{reports.torEvent}" id="somEvn">
						<p:ajax event="change" update="somCmn somRun"></p:ajax>
						<f:selectItem itemLabel=" - " itemValue="#{null}"/>
						<f:selectItems value="#{listOfValues.torEvents}" var="evn" itemLabel="#{evn.name}" itemValue="#{evn}"/>
					</p:selectOneMenu>
					<p:selectOneMenu value="#{reports.torCompetition}" id="somCmn">
						<p:ajax event="change" update="somRun"></p:ajax>
						<f:attribute name="torEvent" value="#{reports.torEvent}"/>
						<f:selectItem itemLabel=" - " itemValue="#{null}"/>
						<f:selectItems value="#{listOfValues.torCompetitionsByEvent}" var="cmn" itemLabel="#{cmn.name}" itemValue="#{cmn}"/>					
					</p:selectOneMenu>
					<p:selectOneMenu value="#{reports.torRun}" id="somRun">
						<f:attribute name="torCompetition" value="#{reports.torCompetition}"/>
						<f:selectItem itemLabel=" - " itemValue="#{null}"/>
						<f:selectItems value="#{listOfValues.torRunsByCompetition}" var="cmn" itemLabel="#{cmn.name}" itemValue="#{cmn}"/>					
					</p:selectOneMenu>
					<p:selectOneMenu value="#{reports.torCategory}">
						<f:selectItem itemLabel=" - " itemValue="#{null}"/>
						<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}"/>										
					</p:selectOneMenu>
					<p:commandButton value="Results" ajax="false">
						<p:fileDownload value="#{reports.print}" />
					</p:commandButton>
				</h:panelGrid>
				<p:toolbar>
					<f:facet name="left">
						<p:button value="Export as PDF"></p:button>
						<p:button value="Export as HTML"></p:button>						
					</f:facet>
					<f:facet name="right">
						<h:outputLabel value="Address:" />
						<p:inputText validator="#{reports.uri}" size="80"></p:inputText>
						<p:button value="Put as PDF"></p:button>
						<p:button value="Put as HTML"></p:button>
					</f:facet>
				</p:toolbar>
			</p:outputPanel>
		</p:panel>
	</h:form>
</ui:composition>