<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorCompetitionEdit" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>  
		<p:panel header="Competitions">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="6">
						<p:ajax event="keyup" listener="#{torCompetitionEdit.searchListener}" process="example"  update="dataTable :#{p:component('tableRun')}" >
						</p:ajax>
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Name int." />
						<h:outputLabel value="Desc." />
						<h:outputLabel value="Event" />
						<h:outputLabel value="" />
						<p:inputText value="#{torCompetitionEdit.example.code}"></p:inputText>
						<p:inputText value="#{torCompetitionEdit.example.name}"></p:inputText>
						<p:inputText value="#{torCompetitionEdit.example.nameInt}"></p:inputText>
						<p:inputText value="#{torCompetitionEdit.example.description}"></p:inputText>
						<p:selectOneMenu value="#{torCompetitionEdit.example.torEvent}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torEvents}" var="cny" itemLabel="#{cny.code}" itemValue="#{cny}"/>
						</p:selectOneMenu>
						<p:commandButton partialSubmit="true" action="#{torCompetitionEdit.search}" icon="ui-icon-search" process="example" value="Search"  update="dataTable :#{p:component('tableRun')}">
						</p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torCompetitionEdit.dataList}" 
							var="cmp" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torCompetitionEdit.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torCompetitionEdit.rowEditCompleteListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCompetitionEdit.rowEditInitListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCompetitionEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowSelect" update=":#{p:component('tableRun')}"></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Code">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.code}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Name">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.name}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Name int.">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.nameInt}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.nameInt}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>
					<p:column headerText="Desc.">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.description}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.description}" >									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Event">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.torEvent ne null ? cmp.torEvent.code : ''}" />
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{cmp.torEvent}" filter="true">
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torEvents}" var="cny" itemLabel="#{cny.code}" itemValue="#{cny}"/>
								</p:selectOneMenu>
							</f:facet>						
						</p:cellEditor>
					</p:column>	
					<p:column headerText="Status">						
						<p:cellEditor>
							<f:facet name="output">										
								<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true" disabled="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>	
							</f:facet>						
							<f:facet name="input">						
								<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>							
							</f:facet>
						</p:cellEditor>
					</p:column>		
														
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New"  icon="ui-icon-plusthick" action="#{torCompetitionEdit.createRow}" update="newTorCompetition" oncomplete="PF('newTorCompetition').show()">							
							</p:commandButton>
							<p:commandButton value="Delete" icon="ui-icon-trash" action="#{torCompetitionEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCompetitionEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCompetitionEdit.save}" disabled="#{!torCompetitionEdit.changed}" update="growl"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			
			<p:dialog widgetVar="newTorCompetition" closable="false">
				<p:ajax event="close" listener="#{torCompetitionEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorCompetition" >
				<h:panelGrid columns="5" rendered="#{torCompetitionEdit.newRow!=null}">
						<h:outputLabel value="Oznaka" />
						<h:outputLabel value="Naziv" />
						<h:outputLabel value="Name int." />
						<h:outputLabel value="Opis" />
						<h:outputLabel value="Događaj" />				
						<p:inputText value="#{torCompetitionEdit.newRow.code}"></p:inputText>
						<p:inputText value="#{torCompetitionEdit.newRow.name}"></p:inputText>
						<p:inputText value="#{torCompetitionEdit.newRow.nameInt}"></p:inputText>							
						<p:inputText value="#{torCompetitionEdit.newRow.description}"></p:inputText>
						<p:selectOneMenu value="#{torCompetitionEdit.newRow.torEvent}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torEvents}" var="cny" itemLabel="#{cny.code}" itemValue="#{cny}"/>
						</p:selectOneMenu>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torCompetitionEdit.cancelCreateRow}" oncomplete="PF('newTorCompetition').hide()"></p:commandButton>
						</f:facet>						
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCompetitionEdit.save}" update="growl" oncomplete="PF('newTorCompetition').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
			<p:confirmDialog message="Da li ste sigurni da želite obrisati zapis?"
				header="brisanje" severity="alert"	widgetVar="cd">
				<p:commandButton value="Da" action="#{torCompetitionEdit.deleteRow}" 
					oncomplete="PF('cd').hide()"/>
				<p:commandButton value="Ne" onclick="PF('cd').hide();" type="button" />
			</p:confirmDialog>	
		</p:panel>

		<p:panel header="Stage">
			<p:outputPanel id="tableRun">
				<p:outputPanel id="exampleRun" layout="block">	
					<h:panelGrid columns="6" rendered="false">
						<p:ajax event="keyup" listener="#{torRunEditDetail.searchListener}" process="exampleRun"  update="dataTableRun" />
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Name int." />
						<h:outputLabel value="Desc." />
						<h:outputLabel value="Start" />
						<h:outputLabel value="" />
						<p:inputText value="#{torRunEditDetail.example.code}"></p:inputText>
						<p:inputText value="#{torRunEditDetail.example.name}"></p:inputText>
						<p:inputText value="#{torRunEditDetail.example.nameInt}"></p:inputText>
						<p:inputText value="#{torRunEditDetail.example.description}"></p:inputText>
						<p:calendar value="#{torRunEditDetail.example.startTime}" pattern="d.M.yyyy. HH:mm">
							<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
						</p:calendar>
						<p:commandButton partialSubmit="true" process="example" value="Search" icon="ui-icon-search"  update="dataTableRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torRunEditDetail.dataList}" 
							var="cmp" paginator="false" rows="10"
							selectionMode="single"
							selection="#{torRunEditDetail.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTableRun"				
				>
					<p:ajax event="rowEdit" listener="#{torRunEditDetail.rowEditCompleteListener}" update=":#{p:component('toolbarRun')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torRunEditDetail.rowEditInitListener}" update=":#{p:component('toolbarRun')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torRunEditDetail.rowEditCancelListener}" update=":#{p:component('toolbarRun')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>					
					<p:column headerText="Code">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.code}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Name">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.name}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Name int.">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.nameInt}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.nameInt}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Desc.">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.description}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.description}" >									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Start">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.startTime}" >
									<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{cmp.startTime}" pattern="d.M.yyyy. HH:mm">
									<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
								</p:calendar>
							</f:facet>									
						</p:cellEditor>
					</p:column>	
					<p:column headerText="Time lim." >
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.timeLimit}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.timeLimit}" >									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>					
					<p:column headerText="St. time gr." >
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.startTimeGroup}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.startTimeGroup}" >									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Type">						
						<p:cellEditor>
							<f:facet name="output">										
								<p:selectOneMenu  value="#{cmp.torTypes}" filter="true" disabled="true">
									<f:attribute name="domain" value="competitionType" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>	
							</f:facet>						
							<f:facet name="input">						
								<p:selectOneMenu  value="#{cmp.torTypes}" filter="true">
									<f:attribute name="domain" value="competitionType" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>							
							</f:facet>
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Status">						
						<p:cellEditor>
							<f:facet name="output">										
								<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true" disabled="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>	
							</f:facet>						
							<f:facet name="input">						
								<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>							
							</f:facet>
						</p:cellEditor>
					</p:column>										
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbarRun">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New" icon="ui-icon-plusthick" action="#{torRunEditDetail.createRow}" update="newTorRun" oncomplete="if (args &amp;&amp; !args.validationFailed)  PF('newTorRun').show()">							
							</p:commandButton>
							<p:commandButton value="Delete" icon="ui-icon-trash" action="#{torRunEditDetail.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torRunEditDetail.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torRunEditDetail.save}" disabled="#{!torRunEditDetail.changed and !torCompetitionEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			
			<p:dialog widgetVar="newTorRun" closable="false">
				<p:ajax event="close" listener="#{torRunEditDetail.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorRun" >
				<h:panelGrid columns="5" rendered="#{torRunEditDetail.newRow!=null}">
						<h:outputLabel value="Oznaka" />
						<h:outputLabel value="Naziv" />
						<h:outputLabel value="Opis" />
						<h:outputLabel value="Start" />
						<h:outputLabel value="Tip" />							
						<p:inputText id="oznakaRun" value="#{torRunEditDetail.newRow.code}" required="true" ></p:inputText>
						<p:inputText id="nazivRun" value="#{torRunEditDetail.newRow.name}" required="true"></p:inputText>						
						<p:inputText id="opisRun" value="#{torRunEditDetail.newRow.description}"></p:inputText>
						<p:calendar id="startRun" value="#{torRunEditDetail.newRow.startTime}"  required="true" pattern="d.M.yyyy. HH:mm" >
							<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
						</p:calendar>
						<p:selectOneMenu id="typeRun" value="#{torRunEditDetail.newRow.torTypes}" filter="true">
							<f:attribute name="domain" value="competitionType" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>
						<p:message display="tooltip" for="oznakaRun"></p:message>
						<p:message display="tooltip" for="nazivRun"></p:message>
						<p:message display="tooltip" for="opisRun"></p:message>
						<p:message display="tooltip" for="startRun"></p:message>
						<p:message display="tooltip" for="typeRun"></p:message>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torRunEditDetail.cancelCreateRow}" oncomplete="PF('newTorRun').hide()"></p:commandButton>
						</f:facet>									
						<f:facet name="right">
							<p:commandButton value="save" icon="ui-icon-disk" action="#{torRunEditDetail.save}" update="newTorRun" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newTorRun').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
			<p:confirmDialog message="Da li ste sigurni da želite obrisati zapis?"
				header="brisanje" severity="alert"	widgetVar="cdRun">
				<p:commandButton value="Da" action="#{torRunEditDetail.deleteRow}"  update="formTorCompetitionEdit"
					oncomplete="PF('cdRun').hide()"/>
				<p:commandButton value="Ne" onclick="PF('cdRun').hide();" type="button" />
			</p:confirmDialog>						
		</p:panel>
	</h:form>
</ui:composition>