<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorCategoryEdit" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>  	
		<p:panel header="Događaji">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="4">
						<p:ajax event="keyup" listener="#{torCategoryEdit.searchListener}" process="example"  update="dataTable" />
						<h:outputLabel value="Short n." />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Description" />					
						<h:outputLabel value="" />
						<p:inputText value="#{torCategoryEdit.example.code}"></p:inputText>
						<p:inputText value="#{torCategoryEdit.example.name}"></p:inputText>
						<p:inputText value="#{torCategoryEdit.example.description}"></p:inputText>
						<p:commandButton partialSubmit="true" process="example" value="Search"  icon="ui-icon-search" update="dataTable"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torCategoryEdit.dataList}" 
							var="ctg" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torCategoryEdit.selectedRow}" rowKey="#{ctg.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torCategoryEdit.rowEditCompleteListener}"  update=":#{p:component('toolbar')}"  ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCategoryEdit.rowEditInitListener}" update=":#{p:component('toolbar')}"   ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCategoryEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>					
					<p:column headerText="Short n.">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{ctg.code}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{ctg.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Name">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{ctg.name}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{ctg.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Description">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{ctg.description}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{ctg.description}" />
							</f:facet>									
						</p:cellEditor>					
					</p:column>									
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New row" action="#{torCategoryEdit.createRow}" update="newTorCategory" oncomplete="PF('newTorCategory').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torCategoryEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCategoryEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCategoryEdit.save}" disabled="#{!torCategoryEdit.changed}" update="formTorCategoryEdit"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			<p:dialog widgetVar="newTorCategory" closable="false">
				<p:outputPanel layout="block" id="newTorCategory">
				<h:panelGrid columns="3" rendered="#{torCategoryEdit.newRow!=null}">
						<h:outputLabel value="Short n." />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Description" />					
						<p:inputText value="#{torCategoryEdit.newRow.code}"></p:inputText>
						<p:inputText value="#{torCategoryEdit.newRow.name}"></p:inputText>
						<p:inputText value="#{torCategoryEdit.newRow.description}"></p:inputText>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torCategoryEdit.cancelCreateRow}" oncomplete="PF('newTorCategory').hide()"></p:commandButton>
						</f:facet>									
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCategoryEdit.save}" update="formTorCategoryEdit" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newTorCategory').hide()"></p:commandButton>
						</f:facet>	
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>		
		</p:panel>
	</h:form>
</ui:composition>