<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorCmrCmnRunEdit" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"  />  
		<p:panel header="Utrke/stage">
			<p:outputPanel id="tableRun" layout="block">
				<p:outputPanel id="exampleRun" layout="block">	
					<h:panelGrid columns="7" rendered="true">
						<p:ajax event="keyup" listener="#{torRunEdit.searchListener}" process="exampleRun"  update="dataTableRun" />
						<h:outputLabel value="Short" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Desc." />
						<h:outputLabel value="Start" />
						<h:outputLabel value="Event" />						
						<h:outputLabel value="Competition" />
						<h:outputLabel value="" />
						<p:inputText value="#{torRunEdit.example.code}"></p:inputText>
						<p:inputText value="#{torRunEdit.example.name}"></p:inputText>
						<p:inputText value="#{torRunEdit.example.description}"></p:inputText>
						<p:calendar value="#{torRunEdit.example.startTime}" pattern="d.M.yyyy. HH:mm" >
							<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
						</p:calendar>
						<p:selectOneMenu value="#{torRunEdit.torEvent}">
							<f:selectItems value="#{listOfValues.torEvents}" var="evn" itemLabel="#{evn.name}" itemValue="#{evn}"/>
							<p:ajax event="change" process="@this" update="somCmn"></p:ajax>
						</p:selectOneMenu>						
						<p:selectOneMenu value="#{torRunEdit.torCompetition}" id="somCmn">
							<f:attribute name="torEvent" value="#{torRunEdit.torEvent}"/>
							<f:selectItems value="#{listOfValues.torCompetitionsByEvent}" var="cmn" itemLabel="#{cmn.name}" itemValue="#{cmn}"/>							
						</p:selectOneMenu>
						<p:commandButton partialSubmit="true" process="exampleRun" value="Search" icon="ui-icon-search" update="dataTableRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="false" lazy="true" value="#{torRunEdit.dataList}" 
							var="cmp" paginator="false" rows="10"
							selectionMode="single"
							selection="#{torRunEdit.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTableRun"				
				>
					<p:ajax event="rowSelect" update=":#{p:component('tableCmrCmnRun')}"></p:ajax>		
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Oznaka">
						<h:outputText value="#{cmp.code}" />
					</p:column>				
					<p:column headerText="Naziv">
						<h:outputText value="#{cmp.name}" />
					</p:column>			
					<p:column headerText="Opis">
						<h:outputText value="#{cmp.description}" />
					</p:column>
					<p:column headerText="Start">
						<h:outputText value="#{cmp.startTime}" >
							<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
						</h:outputText>
					</p:column>			
					<p:column headerText="Type">						
						<p:selectOneMenu  value="#{cmp.torTypes}" filter="true" disabled="true">
							<f:attribute name="domain" value="competitionType" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>			
					<p:column headerText="Status">						
						<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true" disabled="true">
							<f:attribute name="domain" value="status" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>										
				</p:dataTable>
			</p:outputPanel>
		</p:panel>			
		<p:panel header="Start time">	
			<p:outputPanel id="tableCmrCmnRun" layout="block">
				<p:outputPanel id="exampleCmrCmnRun" layout="block">	
					<h:panelGrid columns="7" rendered="true">
						<p:ajax event="keyup" listener="#{torCmrCmnRunEdit.searchListener}" process="exampleCmrCmnRun"  update="dataTableCmrCmnRun" />
						<h:outputLabel value="First name" />
						<h:outputLabel value="Mid. name" />
						<h:outputLabel value="Last name" />
						<h:outputLabel value="Start time" />
						<h:outputLabel value="Finish time" />
						<h:outputLabel value="Status" />							
						<h:outputLabel value="" />
						<p:inputText value="#{torCmrCmnRunEdit.example.torCmrCmn.torCompetitor.firstName}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.example.torCmrCmn.torCompetitor.midName}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.example.torCmrCmn.torCompetitor.lastName}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.example.startTime}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.example.finishTime}"></p:inputText>
					 	<p:selectOneMenu value="#{torCmrCmnRunEdit.example.torTypeStatus}">
							<f:attribute name="domain" value="cmrRunStatus"/>					 	
							<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>																	
						<p:commandButton partialSubmit="true" process="exampleCmrCmnRun" value="Search"  icon="ui-icon-search" update="dataTableCmrCmnRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torCmrCmnRunEdit.dataList}" 
							var="tsk" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torCmrCmnRunEdit.selectedRow}" rowKey="#{tsk.id}"	
							resizableColumns="true"
							id="dataTableCmrCmnRun" 			
				>
					<p:ajax event="rowEdit" listener="#{torCmrCmnRunEdit.rowEditCompleteListener}" update=":#{p:component('toolbarCmrCmnRun')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCmrCmnRunEdit.rowEditInitListener}" update=":#{p:component('toolbarCmrCmnRun')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCmrCmnRunEdit.rowEditCancelListener}" update=":#{p:component('toolbarCmrCmnRun')}" ></p:ajax>
					
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="First name">
						<h:outputText value="#{tsk.torCmrCmn.torCompetitor.firstName}" />
					</p:column>				
					<p:column headerText="Mid. name">
						<h:outputText value="#{tsk.torCmrCmn.torCompetitor.midName}"  />
					</p:column>		
					<p:column headerText="Last name">
						<h:outputText value="#{tsk.torCmrCmn.torCompetitor.lastName}"  />
					</p:column>	
					<p:column headerText="Country">
						<h:outputText value="#{tsk.torCmrCmn.torCompetitor.torCountry!=null ? tsk.torCmrCmn.torCompetitor.torCountry.nameLocal : ''}"  />
					</p:column>				
					<p:column headerText="Start time" sortBy="#{tsk.startTime}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{tsk.startTime}" >
									<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{tsk.startTime}" pattern="d.M.yyyy. HH:mm" >
									<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
								</p:calendar>
							</f:facet>									
						</p:cellEditor>
					</p:column>	
					<p:column headerText="Finish time">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{tsk.finishTime}" >
									<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{tsk.finishTime}" pattern="d.M.yyyy. HH:mm">
									<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
								</p:calendar>
							</f:facet>									
						</p:cellEditor>
					</p:column>												
					<p:column headerText="Status">
						<p:cellEditor>					
							<f:facet name="input">
								<p:selectOneMenu value="#{tsk.torTypeStatus}" >
									<f:attribute name="domain" value="cmrRunStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>						
							</f:facet>
							<f:facet name="output">
							 	<p:selectOneMenu value="#{tsk.torTypeStatus}" disabled="true">
									<f:attribute name="domain" value="cmrRunStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>								
							</f:facet>
						</p:cellEditor>
					</p:column>								
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>						
					</p:column>										
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbarCmrCmnRun">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New"  icon="ui-icon-plusthick" action="#{torCmrCmnRunEdit.createRow}" partialSubmit="true" process="@this" update="newTorCmrCmnRun" oncomplete="if (args &amp;&amp; !args.validationFailed)  PF('newTorCmrCmnRun').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torCmrCmnRunEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
							<p:commandButton value="Generate" action="#{torRunEdit.generateStartTimes}">
								<p:confirm header="Warning!" message="You will generate new start list for given stages, old start list will be owerwritten! Are you sure?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
								<p:selectOneMenu  value="#{torCmrCmnRunEdit.torCategoryPrint}" immediate="true" >									
									<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
									</f:selectItems>
								</p:selectOneMenu>								
							<p:commandButton value="Print"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
								<p:fileDownload value="#{torCmrCmnRunEdit.print}" />
							</p:commandButton>							
							<p:commandButton value="Export"></p:commandButton>
							<p:commandButton value="Import"></p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCmrCmnRunEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCmrCmnRunEdit.save}" disabled="#{!torCmrCmnRunEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>		
			</p:outputPanel>
		
		
			<p:dialog widgetVar="newTorCmrCmnRun" closable="false">
				<p:ajax event="close" listener="#{torCmrCmnRunEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorCmrCmnRun" >
				<h:panelGrid columns="6" rendered="#{torCmrCmnRunEdit.newRow!=null}">
						<h:outputLabel value="First name" />
						<h:outputLabel value="Mid. name" />
						<h:outputLabel value="Last name" />
						<h:outputLabel value="Start time" />
						<h:outputLabel value="Finish time" />
						<h:outputLabel value="Status" />							
						<p:inputText value="#{torCmrCmnRunEdit.newRow.torCmrCmn.torCompetitor.firstName}" id="itFn"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.newRow.torCmrCmn.torCompetitor.midname}"  id="itMn"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.newRow.torCmrCmn.torCompetitor.lastname}"  id="itLn"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.newRow.startTime}"  id="itSt"></p:inputText>
						<p:inputText value="#{torCmrCmnRunEdit.newRow.finishTime}"  id="itFt"></p:inputText>
					 	<p:selectOneMenu value="#{torCmrCmnRunEdit.newRow.torTypeStatus}" id="somStatus">
							<f:attribute name="domain" value="cmrRunStatus"/>					 	
							<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>								
						<p:message display="tooltip" for="itFn"></p:message>
						<p:message display="tooltip" for="itMn"></p:message>
						<p:message display="tooltip" for="itLn"></p:message>
						<p:message display="tooltip" for="itSt"></p:message>
						<p:message display="tooltip" for="itFt"></p:message>
						<p:message display="tooltip" for="somStatus"></p:message>						
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torCmrCmnRunEdit.cancelCreateRow}" oncomplete="PF('newTorCmrCmnRun').hide()"></p:commandButton>
						</f:facet>									
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCmrCmnRunEdit.save}" partialSubmit="true" process="newTorCmrCmnRun" update="newTorCmrCmnRun" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newTorCmrCmnRun').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>				
		</p:panel>
	    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
	        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
	        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
	    </p:confirmDialog>		
	</h:form>
</ui:composition>