<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorCountryEdit" >
		<p:panel header="Zemlje">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="6">
						<p:ajax event="keyup" listener="#{torCountryEdit.searchListener}" process="example"  update="dataTable" />
						<h:outputLabel value="Iso(2)" />
						<h:outputLabel value="Iso(3)" />
						<h:outputLabel value="Naziv (int.)" />
						<h:outputLabel value="Oznaka lokalna" />
						<h:outputLabel value="Naziv lokalni" />
						<h:outputLabel value="" />
						<p:inputText value="#{torCountryEdit.example.iso2Code}"></p:inputText>
						<p:inputText value="#{torCountryEdit.example.iso3Code}"></p:inputText>
						<p:inputText value="#{torCountryEdit.example.nameInt}"></p:inputText>
						<p:inputText value="#{torCountryEdit.example.localCode}"></p:inputText>
						<p:inputText value="#{torCountryEdit.example.nameLocal}"></p:inputText>
						<p:commandButton partialSubmit="true" process="example" value="Search" icon="ui-icon-search"  update="dataTable"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torCountryEdit.dataList}" 
							var="cny" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torCountryEdit.selectedRow}" rowKey="#{cny.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torCountryEdit.rowEditCompleteListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCountryEdit.rowEditInitListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCountryEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Iso(2)">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cny.iso2Code}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{cny.iso2Code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Iso(3)">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cny.iso3Code}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{cny.iso3Code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Naziv (int.)">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cny.nameInt}" />
							</f:facet>					
							<f:facet name="input">				
								<h:inputText value="#{cny.nameInt}" />
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Oznaka (lokalna)">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cny.localCode}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{cny.localCode}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Naziv (lokalni)">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cny.nameLocal}" />
							</f:facet>					
							<f:facet name="input">				
								<h:inputText value="#{cny.nameLocal}" />
							</f:facet>					
						</p:cellEditor>
					</p:column>									
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Novi zaps" action="#{torCountryEdit.createRow}" update="newTorCountry" oncomplete="PF('newTorCountry').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torCountryEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCountryEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCountryEdit.save}" disabled="#{!torCountryEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			<p:dialog widgetVar="newTorCountry">
				<p:outputPanel layout="block" id="newTorCountry">
				<h:panelGrid columns="5" rendered="#{torCountryEdit.newRow!=null}">
					<h:outputLabel value="Iso(2)" />
					<h:outputLabel value="Iso(3)" />
					<h:outputLabel value="Naziv (int.)" />
					<h:outputLabel value="Oznaka lokalna" />
					<h:outputLabel value="Naziv lokalni" />
					<p:inputText value="#{torCountryEdit.newRow.iso2Code}"></p:inputText>
					<p:inputText value="#{torCountryEdit.newRow.iso3Code}"></p:inputText>
					<p:inputText value="#{torCountryEdit.newRow.nameInt}"></p:inputText>
					<p:inputText value="#{torCountryEdit.newRow.localCode}"></p:inputText>
					<p:inputText value="#{torCountryEdit.newRow.nameLocal}"></p:inputText>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCountryEdit.save}" ></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
		</p:panel>
	</h:form>
</ui:composition>