<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorClubEdit" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>  
		<p:panel header="Clubs">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="4">
						<p:ajax event="keyup" listener="#{torClubEdit.searchListener}" process="example"  update="dataTable" >
						</p:ajax>
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Country" />
						<h:outputLabel value="" />
						<p:inputText value="#{torClubEdit.example.code}"></p:inputText>
						<p:inputText value="#{torClubEdit.example.name}"></p:inputText>
						<p:selectOneMenu value="#{torClubEdit.example.torCountry}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torCountrys}" var="cny" itemLabel="#{cny.localCode}" itemValue="#{cny}"/>
						</p:selectOneMenu>
						<p:commandButton partialSubmit="true" action="#{torClubEdit.search}" icon="ui-icon-search" process="example" value="Search"  update="dataTable">
						</p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torClubEdit.dataList}" 
							var="cmp" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torClubEdit.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torClubEdit.rowEditCompleteListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torClubEdit.rowEditInitListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torClubEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Code">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.code}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Name">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.name}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Country">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.torCountry ne null ? cmp.torCountry.localCode : ''}" />
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{cmp.torCountry}" filter="true">
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torCountrys}" var="cny" itemLabel="#{cny.localCode}" itemValue="#{cny}"/>
								</p:selectOneMenu>
							</f:facet>						
						</p:cellEditor>
					</p:column>	
														
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New"  icon="ui-icon-plusthick" action="#{torClubEdit.createRow}" update="newTorClub" oncomplete="PF('newTorClub').show()">							
							</p:commandButton>
							<p:commandButton value="Delete" icon="ui-icon-trash" action="#{torClubEdit.deleteRow}">
								<p:confirm header="Warning!" message="Recorde delete! Are you sure?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torClubEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torClubEdit.save}" disabled="#{!torClubEdit.changed}" update="growl"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			
			<p:dialog widgetVar="newTorClub" closable="false">
				<p:ajax event="close" listener="#{torClubEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorClub" >
				<h:panelGrid columns="3" rendered="#{torClubEdit.newRow!=null}">
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Country" />			
						<p:inputText value="#{torClubEdit.newRow.code}"></p:inputText>
						<p:inputText value="#{torClubEdit.newRow.name}"></p:inputText>
						<p:selectOneMenu value="#{torClubEdit.newRow.torCountry}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torCountrys}" var="cny" itemLabel="#{cny.localCode}" itemValue="#{cny}"/>
						</p:selectOneMenu>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torClubEdit.cancelCreateRow}" oncomplete="PF('newTorClub').hide()"></p:commandButton>
						</f:facet>						
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torClubEdit.save}" update="growl" oncomplete="PF('newTorClub').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
		</p:panel>
	</h:form>
</ui:composition>