<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
		<p:panel header="Competitions - #{torCmrCmnEdit.headerSupp}">
			<p:outputPanel id="tableCmrCmn" layout="block">
				<p:dataTable editable="true" value="#{torCmrCmnEdit.dataList}" lazy="true"
							var="cmm" rows="10" selectionMode="single"
							selection="#{torCmrCmnEdit.selectedRow}" rowKey="#{cmm.data.id}"	
							resizableColumns="true"
							id="dataTableCmrCmn"				
				>
					<p:ajax event="rowEdit" listener="#{torCmrCmnEdit.rowEditCompleteListener}" update=":#{p:component('toolbarCmrCmn')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCmrCmnEdit.rowEditInitListener}" update=":#{p:component('toolbarCmrCmn')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCmrCmnEdit.rowEditCancelListener}" update=":#{p:component('toolbarCmrCmn')}" ></p:ajax>	
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Selected">			
						<p:cellEditor>
							<f:facet name="input">			
								<p:selectBooleanCheckbox value="#{cmm.selected}" >				
								</p:selectBooleanCheckbox>
							</f:facet>
							<f:facet name="output">	
								<p:selectBooleanCheckbox value="#{cmm.selected}" disabled="true">		
								</p:selectBooleanCheckbox>
							</f:facet>
						</p:cellEditor>							
					</p:column>	
					<p:column headerText="Category">			
						<p:cellEditor>
							<f:facet name="output">										
								<p:selectOneMenu  value="#{cmm.data.torCategory}"  disabled="true">
									<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
									</f:selectItems>
								</p:selectOneMenu>	
							</f:facet>						
							<f:facet name="input">						
								<p:selectOneMenu  value="#{cmm.data.torCategory}" filter="true">
									<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
									</f:selectItems>
								</p:selectOneMenu>				
							</f:facet>
						</p:cellEditor>							
					</p:column>	
					<p:column headerText="Short name">			
						<h:outputText value="#{cmm.data.torCompetition.code}" />
					</p:column>						
					<p:column headerText="Full name">			
						<h:outputText value="#{cmm.data.torCompetition.name}" />
					</p:column>	
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>		
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbarCmrCmn">
					<p:toolbar>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCmrCmnEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCmrCmnEdit.save}" disabled="#{!torCmrCmnEdit.changed and !torCmrCmnEdit.master.changed}" update="toolbarCmrCmn"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>									
		</p:panel>
</ui:composition>