<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorCompetitorEdit" >
		<p:growl id="growl" showDetail="true" sticky="false" autoUpdate="true" />  
		<p:panel header="Competitors/teams">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="7">
						<p:ajax event="keyup" listener="#{torCompetitorEdit.searchListener}" process="example"  update="dataTable opCmrCmn" />
						<h:outputLabel value="Type" />						
						<h:outputLabel value="Name" />
						<h:outputLabel value="Last name" />
						<h:outputLabel value="Mid name" />
						<h:outputLabel value="Date of br." />
						<h:outputLabel value="Country" />			
						<h:outputLabel value="" />													
						<p:selectOneMenu value="#{torCompetitorEdit.example.torType}" filter="true">
							<f:attribute name="domain" value="competitorType"></f:attribute>
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>						
						<p:inputText value="#{torCompetitorEdit.example.firstName}"></p:inputText>
						<p:inputText value="#{torCompetitorEdit.example.lastName}"></p:inputText>
						<p:inputText value="#{torCompetitorEdit.example.midName}"></p:inputText>
						<p:calendar value="#{torCompetitorEdit.example.dateOfBirth}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
						<p:selectOneMenu value="#{torCompetitorEdit.example.torCountry}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torCountrys}" var="cny" itemLabel="#{cny.nameLocal}" itemValue="#{cny}"/>
						</p:selectOneMenu>					
						<h:outputLabel value="" />	
						<h:outputLabel value="Sex" />
						<h:panelGrid columns="2">
							<h:outputLabel value="Para." />
							<h:outputLabel value="Level" />
						</h:panelGrid>
						<h:outputLabel value="SI chip no." />
						<h:outputLabel value="Start number" />												
						<h:outputLabel value="Team" />
						<h:outputLabel value="Club" />						
						<h:outputLabel value="" />						
						<p:selectOneMenu value="#{torCompetitorEdit.example.torTypeSex}" filter="true">
							<f:attribute name="domain" value="competitorSex"></f:attribute>
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>
						<h:panelGrid columns="2">						
						<p:selectOneMenu value="#{torCompetitorEdit.example.para}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-all-"/>
							<f:selectItem itemValue="#{true}" itemLabel="Yes"/>
							<f:selectItem itemValue="#{false}" itemLabel="No"/>
						</p:selectOneMenu>
						<p:selectOneMenu value="#{torCompetitorEdit.example.torTypePara}" filter="true">
							<f:attribute name="domain" value="competitorParaLevel"></f:attribute>
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>		
						</h:panelGrid>				
						<p:inputText value="#{torCompetitorEdit.example.siChipNo}" ></p:inputText>
						<p:inputText value="#{torCompetitorEdit.example.startNo}"></p:inputText>	
						<p:selectOneMenu value="#{torCompetitorEdit.example.torCompetitor}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torCompetitorTeams}" var="typ" itemLabel="#{typ.firstName} #{typ.torClub!=null ? typ.torClub.name : ''} #{typ.torCountry!=null ? typ.torCountry.nameInt : ''}" itemValue="#{typ}"/>
						</p:selectOneMenu>
						<p:selectOneMenu value="#{torCompetitorEdit.example.torClub}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torClubs}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>						
						<p:commandButton partialSubmit="true" action="#{torCompetitorEdit.search}" process="example" value="Search" icon="ui-icon-search"  update="dataTable opCmrCmn"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torCompetitorEdit.dataList}" 
							var="cmp" paginator="true" rows="10" 
							selectionMode="single"
							selection="#{torCompetitorEdit.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTable" 
				>
					<p:ajax event="rowEdit" listener="#{torCompetitorEdit.rowEditCompleteListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torCompetitorEdit.rowEditInitListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torCompetitorEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:ajax event="rowSelect" update=":main:formTorCompetitorEdit:opCmrCmn"></p:ajax>
					<p:column headerText="" resizable="false" width="12" toggleable="false">
					</p:column>			
					<p:column headerText="Type" width="60">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.torType.name}" />
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{cmp.torType}" filter="true">
									<f:attribute name="domain" value="competitorType"></f:attribute>
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>		
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Name" width="120">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.firstName}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.firstName}"  size="15"/>
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Last name" width="120">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.lastName}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{cmp.lastName}"  size="15"/>
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Mid name" width="120">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.midName}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.midName}"  size="15">									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Date of br." width="80">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.dateOfBirth}" >
									<f:convertDateTime pattern="dd.MM.yyyy." />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{cmp.dateOfBirth}" pattern="d.M.yyyy.">
									<f:convertDateTime type="date" pattern="d.M.yyyy."  />
								</p:calendar>
							</f:facet>						
						</p:cellEditor>
					</p:column>		
					<p:column headerText="Sex" width="40">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.torTypeSex.name}" />
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{cmp.torTypeSex}" filter="true">
									<f:attribute name="domain" value="competitorSex"></f:attribute>
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>
							</f:facet>						
						</p:cellEditor>						
					</p:column>	
					<p:column headerText="Para." width="40">
						<p:cellEditor>
							<f:facet name="output">
								<p:selectBooleanCheckbox value="#{cmp.para}" disabled="true"></p:selectBooleanCheckbox>
							</f:facet>
							<f:facet name="input">
								<p:selectBooleanCheckbox value="#{cmp.para}"></p:selectBooleanCheckbox>
							</f:facet>						
						</p:cellEditor>						
					</p:column>			
					<p:column headerText="Level" width="60">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{cmp.torTypePara!=null ? cmp.torTypePara.name : ''}" /> 
							</f:facet>
							<f:facet name="input">
								<p:selectOneMenu value="#{cmp.torTypePara}" filter="true">
									<f:attribute name="domain" value="competitorParaLevel"></f:attribute>
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>	
							</f:facet>						
						</p:cellEditor>						
					</p:column>	
					<p:column headerText="Country">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.torCountry ne null ? cmp.torCountry.nameLocal : ''}" />
							</f:facet>					
							<f:facet name="input">				
								<p:selectOneMenu value="#{cmp.torCountry}" filter="true">
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{torCompetitorEdit.serviceFactory.torCountryService.all}" var="cny" itemLabel="#{cny.nameLocal}" itemValue="#{cny}"/>
								</p:selectOneMenu>
							</f:facet>					
						</p:cellEditor>
					</p:column>	
					<p:column headerText="Club">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.torClub ne null ? cmp.torClub.code : ''}" />
							</f:facet>					
							<f:facet name="input">				
								<p:selectOneMenu value="#{cmp.torClub}" filter="true">
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torClubs}" var="typ" itemLabel="#{typ.code}" itemValue="#{typ}"/>
								</p:selectOneMenu>	
							</f:facet>					
						</p:cellEditor>
					</p:column>		
					<p:column headerText="SI chip no." width="90" >
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.siChipNo}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.siChipNo}" size="10">									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="Start no." width="60" >
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{cmp.startNo}" />
							</f:facet>					
							<f:facet name="input">				
								<p:inputText value="#{cmp.startNo}" size="6">									
								</p:inputText>
							</f:facet>					
						</p:cellEditor>					
					</p:column>					
					<p:column resizable="false" width="40" toggleable="false">
					 	<f:facet name="header">
					 		<p:commandButton icon="ui-icon-gear" id="toggler" styleClass="tc-toggler-button"></p:commandButton>
					 		<p:columnToggler datasource="dataTable" trigger="toggler" />
					 	</f:facet>
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New"  icon="ui-icon-plusthick" action="#{torCompetitorEdit.createRow}" update="newTorCompetitor" oncomplete="PF('newTorCompetitor').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torCompetitorEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCompetitorEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCompetitorEdit.save}" disabled="#{!torCompetitorEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			<p:dialog widgetVar="newTorCompetitor" >
				<p:ajax event="close" listener="#{torCompetitorEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorCompetitor" >
				<h:panelGrid columns="6" rendered="#{torCompetitorEdit.newRow!=null}">
						<h:outputLabel value="Prezime" />				
						<h:outputLabel value="Ime" />						
						<h:outputLabel value="Srednje ime" />
						<h:outputLabel value="Datum rođenja" />
						<h:outputLabel value="Zemlja" />
						<h:outputLabel value="Club" />							
						<p:inputText value="#{torCompetitorEdit.newRow.lastName}"></p:inputText>
						<p:inputText value="#{torCompetitorEdit.newRow.firstName}"></p:inputText>						
						<p:inputText value="#{torCompetitorEdit.newRow.midName}"></p:inputText>
						<p:calendar value="#{torCompetitorEdit.newRow.dateOfBirth}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
						<p:selectOneMenu value="#{torCompetitorEdit.newRow.torCountry}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{torCompetitorEdit.serviceFactory.torCountryService.all}" var="cny" itemLabel="#{cny.nameLocal}" itemValue="#{cny}" />
						</p:selectOneMenu>
						<p:selectOneMenu value="#{torCompetitorEdit.newRow.torClub}" filter="true">
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torClubs}" var="cny" itemLabel="#{cny.code}-#{cny.name}" itemValue="#{cny}"/>
						</p:selectOneMenu>						
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCompetitorEdit.save}" ></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
			<p:confirmDialog message="Da li ste sigurni da želite obrisati zapis?"
				header="brisanje" severity="alert"	widgetVar="cd">
				<p:commandButton value="Da" action="#{torCompetitorEdit.deleteRow}" 
					oncomplete="PF('cd').hide()"/>
				<p:commandButton value="Ne" onclick="PF('cd').hide();" type="button" />
			</p:confirmDialog>			
		</p:panel>
		<p:outputPanel layout="block" id="opCmrCmn">
			<ui:include src="/torCmrCmnEdit.xhtml" />
		</p:outputPanel>
	</h:form>
</ui:composition>