<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorEventEdit" >
		<p:panel header="Events">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="6">
						<p:ajax event="keyup" listener="#{torEventEdit.searchListener}" process="example"  update="dataTable" />
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Name int." />
						<h:outputLabel value="Starts" />
						<h:outputLabel value="Ends" />						
						<h:outputLabel value="" />
						<p:inputText value="#{torEventEdit.example.code}"></p:inputText>
						<p:inputText value="#{torEventEdit.example.name}"></p:inputText>
						<p:inputText value="#{torEventEdit.example.nameInt}"></p:inputText>
						<p:calendar value="#{torEventEdit.example.startDate}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
						<p:calendar value="#{torEventEdit.example.endDate}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
						<p:commandButton partialSubmit="true" process="example" value="Search" icon="ui-icon-search" update="dataTable"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torEventEdit.dataList}" 
							var="evn" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torEventEdit.selectedRow}" rowKey="#{evn.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torEventEdit.rowEditCompleteListener}"  update=":#{p:component('toolbar')}"  ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torEventEdit.rowEditInitListener}" update=":#{p:component('toolbar')}"   ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torEventEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Code">					
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.code}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{evn.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Name">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.name}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{evn.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Name int.">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.nameInt}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{evn.nameInt}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>						
					<p:column headerText="Start">
						<p:cellEditor>
							<f:facet name="output">				
								<h:outputText value="#{evn.startDate}" />
							</f:facet>					
							<f:facet name="input">				
								<p:calendar value="#{evn.startDate}" pattern="d.M.yyyy.">
									<f:convertDateTime type="date" pattern="d.M.yyyy."  />
								</p:calendar>
							</f:facet>					
						</p:cellEditor>					
					</p:column>
					<p:column headerText="End">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.endDate}" />
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{evn.endDate}" pattern="d.M.yyyy.">
									<f:convertDateTime type="date" pattern="d.M.yyyy."  />
								</p:calendar>
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Status">						
						<p:cellEditor>
							<f:facet name="output">										
								<p:selectOneMenu  value="#{evn.torTypeStatus}" filter="true" disabled="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>	
							</f:facet>						
							<f:facet name="input">						
								<p:selectOneMenu  value="#{evn.torTypeStatus}" filter="true">
									<f:attribute name="domain" value="status" />							
									<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
									<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
									</f:selectItems>
								</p:selectOneMenu>							
							</f:facet>
						</p:cellEditor>
					</p:column>		
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New" icon="ui-icon-plusthick"  action="#{torEventEdit.createRow}" update="newTorEvent" oncomplete="PF('newTorEvent').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torEventEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torEventEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torEventEdit.save}" disabled="#{!torEventEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			<p:dialog widgetVar="newTorEvent" >
				<p:ajax event="close" listener="#{torEventEdit.cancelCreateRowListener}" ></p:ajax>
				<p:outputPanel layout="block" id="newTorEvent">
				<h:panelGrid columns="4" rendered="#{torEventEdit.newRow!=null}">
						<h:outputLabel value="Code" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Name int." />
						<h:outputLabel value="Starts" />
						<h:outputLabel value="Ends" />						
						<p:inputText value="#{torEventEdit.newRow.code}"></p:inputText>
						<p:inputText value="#{torEventEdit.newRow.name}"></p:inputText>
						<p:inputText value="#{torEventEdit.newRow.nameInt}"></p:inputText>
						<p:calendar value="#{torEventEdit.newRow.startDate}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
						<p:calendar value="#{torEventEdit.newRow.endDate}" pattern="d.M.yyyy.">
							<f:convertDateTime type="date" pattern="d.M.yyyy."  />
						</p:calendar>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel"  action="#{torEventEdit.cancelCreateRow}" oncomplete="PF('newTorEvent').hide()"></p:commandButton>
						</f:facet>						
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torEventEdit.save}" ></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
		</p:panel>
	</h:form>
</ui:composition>