<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorSolutionEdit">
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"  />  
		<p:panel header="Solutions entry" >
			<p:outputPanel id="opTorSolutionEdit" layout="block">
				<p:outputPanel layout="block" id="opRunCmr" >
					<h:panelGrid columns="2" id="pgRunCmr" >
						<p:fieldset legend="Stage">
							<h:panelGrid columns="3">
							<h:outputLabel value="Stage" />
							<h:outputLabel value="Name" />
							<h:outputLabel value="" />
							<p:inputText value="#{torRunChoose.selectedRow.code}" readonly="true"/>
							<p:inputText value="#{torRunChoose.selectedRow.name}" readonly="true" />
							<p:commandButton value="Change" icon="ui-icon-search" partialSubmit="true" process="@this" oncomplete="PF('chooseRun').show();">
							</p:commandButton>
							</h:panelGrid>
						</p:fieldset>
						<p:fieldset legend="Competitor">
							<h:panelGrid columns="2">
								<p:outputPanel layout="block" rendered="#{torCmrCmnRunChoose.selectedRow!=null}">
								<h:panelGrid columns="5">
								<h:outputLabel value="Name" />
								<h:outputLabel value="Mid. name" />
								<h:outputLabel value="Last name" />
								<h:outputLabel value="Country" />
								<h:outputLabel value="" />							
									<p:inputText value="#{torCmrCmnRunChoose.selectedRow.torCmrCmn.torCompetitor.firstName}" readonly="true"/>
									<p:inputText value="#{torCmrCmnRunChoose.selectedRow.torCmrCmn.torCompetitor.midName}" readonly="true"/>
									<p:inputText value="#{torCmrCmnRunChoose.selectedRow.torCmrCmn.torCompetitor.lastName}" readonly="true"/>
									<p:inputText value="#{torCmrCmnRunChoose.selectedRow.torCmrCmn.torCompetitor.torCountry.localCode}" readonly="true"/>							
								</h:panelGrid>							
								</p:outputPanel>
								<p:commandButton style="margin-top:20px" value="Change" icon="ui-icon-search" partialSubmit="true" process="@this" oncomplete="PF('chooseCompetitor').show();">
									<f:setPropertyActionListener value="#{false}" target="#{torSolutionEdit.hotKeyPressed}" />
								</p:commandButton>
								<h:panelGrid columns="2">
									<h:outputLabel value="Actual start" />
									<h:outputLabel value="Finish time" />
									<h:panelGrid columns="3">
										<p:inputText value="#{torSolutionEdit.startMin}" size="5"></p:inputText>
										<p:inputText value="#{torSolutionEdit.startSec}" size="5"></p:inputText>
										<h:outputText value="#{torCmrCmnRunChoose.selectedRow.actualStart}" />
									</h:panelGrid>
									<h:panelGrid columns="5">
										<p:inputText value="#{torSolutionEdit.finishMin}" size="5"></p:inputText>
										<p:inputText value="#{torSolutionEdit.finishSec}" size="5"></p:inputText>			
										<h:outputText value="#{torCmrCmnRunChoose.selectedRow.finishTime}" />
										<p:commandButton value="Save" action="#{torSolutionEdit.saveTimes}"></p:commandButton>
										<p:commandButton value="I" action="#{torSolutionEdit.preliminary}" update="infoBlock" oncomplete="PF('info').show();"></p:commandButton>
									</h:panelGrid>
								</h:panelGrid>
							</h:panelGrid>
						</p:fieldset>
					</h:panelGrid>
				</p:outputPanel>
				<p:dataTable editable="true" lazy="true" value="#{torSolutionEdit.dataList}" 
							var="tsk" paginator="true" rows="20"
							selectionMode="single"
							selection="#{torSolutionEdit.selectedRow}" rowKey="#{tsk.id}"	
							resizableColumns="true"
							id="dataTableSolution"				
				>
					<p:column headerText="No"  width="30" >
						<h:outputText value="#{tsk.torTask.no}" rendered="#{tsk.torTask.torTask==null}" />
					</p:column>	
					<p:column headerText="Tc.no"  width="30" >
						<h:outputText value="#{tsk.torTask.no}" rendered="#{tsk.torTask.torTask!=null}" />
					</p:column>						
					<p:column headerText="Type" width="40">
						<h:outputText value="#{tsk.torTask.torTypeType.name}"/>
					</p:column>	
					<p:column headerText="Time"  width="60" >
						<p:inputText value="#{tsk.time}" styleClass="tcTime" rendered="#{tsk.torTask.torTypeType.code eq 'st'}"  size="5" readonly="#{torSolutionEdit.control}" />
					</p:column>	
					<p:column headerText="A"  style ="#{tsk.solution eq 'A' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="A" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'A') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}"  partialSubmit="true" process="@this" onclick="colorSelected(@this)" update="dataTableSolution" >
						</p:commandButton>										
					</p:column>
					<p:column headerText="B" style="#{tsk.solution eq 'B' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="B" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'B') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}" partialSubmit="true" process="@this" onclick="colorSelected(@this)"  update="dataTableSolution" ></p:commandButton>
					</p:column>
				 	<p:column headerText="C" style="#{tsk.solution eq 'C' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="C" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'C') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}" partialSubmit="true" process="@this" onclick="colorSelected(@this)" update="dataTableSolution" ></p:commandButton>
					</p:column>					
					<p:column headerText="D" style="#{tsk.solution eq 'D' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="D" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'D') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}" partialSubmit="true" process="@this" onclick="colorSelected(@this)" update="dataTableSolution" ></p:commandButton>
					</p:column>										
					<p:column headerText="E" style="#{tsk.solution eq 'E' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="E" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'E') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}" partialSubmit="true" process="@this" onclick="colorSelected(@this)" update="dataTableSolution" ></p:commandButton>
					</p:column>
					<p:column headerText="F" style="#{tsk.solution eq 'F' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="F" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'F') ? 'color:green;': ''}" action="#{torSolutionEdit.resultAction}" partialSubmit="true" process="@this" onclick="colorSelected(@this)" update="dataTableSolution" ></p:commandButton>
					</p:column>																																			
					<p:column headerText="Z" style="#{tsk.solution eq 'Z' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="Z" style="#{(torSolutionEdit.control and tsk.torTask.solution eq 'Z') ? 'color:green;': ''}" disabled="#{tsk.torTask.torTypeType.code eq 'time'}" action="#{torSolutionEdit.resultAction}" partialSubmit="true"  process="@this" update="dataTableSolution" onclick="colorSelected(@this)"  ></p:commandButton>
					</p:column>
					<p:column headerText="X" style="#{tsk.solution eq 'X' ? 'background-color:red;' : ''}" width="40">
						<p:commandButton rendered="#{tsk.torTask.torTypeType.code ne 'st'}" value="X"  action="#{torSolutionEdit.resultAction}" partialSubmit="true"  process="@this" update="dataTableSolution" onclick="colorSelected(@this)"  ></p:commandButton>
					</p:column>	
					<p:column headerText="Status" width="100">
						<p:selectOneMenu  value="#{tsk.torTypeStatus}" filter="true" disabled="#{!torSolutionEdit.control}">
							<f:attribute name="domain" value="solutionStatus" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>
					<p:column headerText="Notes" width="400">
						<p:inputText value="#{tsk.notes}" size="60" readonly="#{!torSolutionEdit.control}"></p:inputText>
					</p:column>
				</p:dataTable>			
			</p:outputPanel>
		</p:panel>
		<p:dialog widgetVar="chooseCompetitor" closable="false" header="Choose competitor!" onShow="$(document).off('keydown')" >		
			<p:outputPanel id="chooseCompetitor" layout="block">
				<p:outputPanel id="exampleCmrCmnRun" layout="block">	
					<h:panelGrid columns="7" rendered="true">
						<p:ajax event="keyup" listener="#{torCmrCmnRunChoose.searchListener}" process="exampleCmrCmnRun"  update="dataTableCmrCmnRun" />		
						<h:outputLabel value="First name" />
						<h:outputLabel value="Mid. name" />
						<h:outputLabel value="Last name" />
						<h:outputLabel value="Start time" />
						<h:outputLabel value="Finish time" />
						<h:outputLabel value="Status" />							
						<h:outputLabel value="" />
						<p:inputText value="#{torCmrCmnRunChoose.example.torCmrCmn.torCompetitor.firstName}">
						</p:inputText>
						<p:inputText value="#{torCmrCmnRunChoose.example.torCmrCmn.torCompetitor.midName}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunChoose.example.torCmrCmn.torCompetitor.lastName}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunChoose.example.startTime}"></p:inputText>
						<p:inputText value="#{torCmrCmnRunChoose.example.finishTime}"></p:inputText>
					 	<p:selectOneMenu value="#{torCmrCmnRunChoose.example.torTypeStatus}">
							<f:attribute name="domain" value="cmrRunStatus"/>					 	
							<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>																	
						<p:commandButton partialSubmit="true" process="exampleCmrCmnRun" value="Search"  icon="ui-icon-search" update="dataTableCmrCmnRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="false" lazy="true" value="#{torCmrCmnRunChoose.dataList}" 
							var="tsk" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torCmrCmnRunChoose.selectedRow}" rowKey="#{tsk.id}"	
							resizableColumns="true"
							id="dataTableCmrCmnRun"				
				>
					<p:ajax event="rowSelect" update=":#{p:component('toolbarCmrCmnRun')}"></p:ajax>	
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="First name">
						<h:outputText value="#{tsk.torCmrCmn.torCompetitor.firstName}" />
					</p:column>				
					<p:column headerText="Mid. name">
						<p:inputText value="#{tsk.torCmrCmn.torCompetitor.midName}" />						
					</p:column>		
					<p:column headerText="Last name">
						<p:inputText value="#{tsk.torCmrCmn.torCompetitor.lastName}" />						
					</p:column>				
					<p:column headerText="Start time">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{tsk.startTime}" >
									<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{tsk.startTime}" pattern="d.M.yyyy. HH:mm">
									<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
								</p:calendar>
							</f:facet>									
						</p:cellEditor>
					</p:column>	
					<p:column headerText="Finish time">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{tsk.finishTime}" >
									<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:calendar value="#{tsk.finishTime}" pattern="d.M.yyyy. HH:mm">
									<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
								</p:calendar>
							</f:facet>									
						</p:cellEditor>
					</p:column>												
					<p:column headerText="Status">
						<p:cellEditor>					
							<f:facet name="input">
								<p:selectOneMenu value="#{tsk.torTypeStatus}" >
									<f:attribute name="domain" value="cmrRunStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>						
							</f:facet>
							<f:facet name="output">
							 	<p:selectOneMenu value="#{tsk.torTypeStatus}" disabled="true">
									<f:attribute name="domain" value="cmrRunStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>								
							</f:facet>
						</p:cellEditor>
					</p:column>								
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>						
					</p:column>										
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbarCmrCmnRun">
					<p:toolbar>
						<f:facet name="left">							
							<p:commandButton value="Cancel" icon="ui-icon-cancel" partialSubmit="true" process="@this" oncomplete="PF('chooseCompetitor').hide();" update="strangeControls"></p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torCmrCmnRunChoose.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torCmrCmnRunChoose.save}" disabled="#{!torCmrCmnRunChoose.changed}" update="toolbarCmrCmnRun strangeControls"></p:commandButton>
							<p:commandButton value="Select" icon="ui-icon-check" disabled="#{torCmrCmnRunChoose.selectedRow eq null}" update="pgRunCmr dataTableSolution strangeControls" oncomplete="PF('chooseCompetitor').hide();"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>		
			</p:outputPanel>
		
		</p:dialog>
		<p:dialog widgetVar="info" closable="true" header="Info">
			<p:outputPanel layout="block" id="infoBlock">
				<h:panelGrid columns="2">
					<h:outputLabel value="Time" />
					<h:outputLabel value="Points" />
					<h:outputText value="#{torSolutionEdit.info.tcTime}" />
					<h:outputText value="#{torSolutionEdit.info.pointsAll}" />
				</h:panelGrid>		
			</p:outputPanel>
		</p:dialog>
		
			<p:dialog widgetVar="chooseRun" closable="false" header="Choose stage" >
				<p:outputPanel layout="block" id="chooseRun" >
				<p:outputPanel id="exampleRun" layout="block">	
					<h:panelGrid columns="5" rendered="true">
						<p:ajax event="keyup" listener="#{torRunChoose.searchListener}" process="exampleRun"  update="dataTableRun" />
						<h:outputLabel value="Short" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Event" />						
						<h:outputLabel value="Competition" />
						<h:outputLabel value="" />
						<p:inputText value="#{torRunChoose.example.code}"></p:inputText>
						<p:inputText value="#{torRunChoose.example.name}"></p:inputText>
						<p:selectOneMenu value="#{torRunChoose.torEvent}">
							<f:selectItems value="#{listOfValues.torEvents}" var="evn" itemLabel="#{evn.name}" itemValue="#{evn}"/>
							<p:ajax event="change" process="@this" update="somCmn"></p:ajax>
						</p:selectOneMenu>						
						<p:selectOneMenu value="#{torRunChoose.torCompetition}" id="somCmn">
							<f:attribute name="torEvent" value="#{torRunChoose.torEvent}"/>
							<f:selectItems value="#{listOfValues.torCompetitionsByEvent}" var="cmn" itemLabel="#{cmn.name}" itemValue="#{cmn}"/>							
						</p:selectOneMenu>
						<p:commandButton partialSubmit="true" process="exampleRun" value="Search" icon="ui-icon-search"  update="dataTableRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="false" lazy="true" value="#{torRunChoose.dataList}" 
							var="cmp" paginator="false" rows="10"
							selectionMode="single"
							selection="#{torRunChoose.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTableRun"				
				>					
					<p:ajax event="rowSelect" update=":#{p:component('toolbarChooseRun')}"></p:ajax>	
					<p:column headerText="" resizable="false" width="20">
					</p:column>
					<p:column headerText="Oznaka">
						<h:outputText value="#{cmp.code}" />
					</p:column>				
					<p:column headerText="Naziv">
						<h:outputText value="#{cmp.name}" />
					</p:column>			
					<p:column headerText="Start">
						<h:outputText value="#{cmp.startTime}" >
							<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
						</h:outputText>
					</p:column>			
					<p:column headerText="Type">						
						<p:selectOneMenu  value="#{cmp.torTypes}" filter="true" disabled="true">
							<f:attribute name="domain" value="competitionType" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>			
					<p:column headerText="Status">						
						<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true" disabled="true">
							<f:attribute name="domain" value="status" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>										
				</p:dataTable>
				</p:outputPanel>			
				<p:outputPanel layout="block" id="toolbarChooseRun">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel"  icon="ui-icon-cancel" partialSubmit="true" process="@this" oncomplete="PF('chooseRun').hide();" update="strangeControls">
								<f:setPropertyActionListener target="#{torCmrCmnRunChoose.selectedRow}" value="#{null}" />
							</p:commandButton>
						</f:facet>							
						<f:facet name="right">
							<p:commandButton value="Select"  icon="ui-icon-check" partialSubmit="true" process="dataTableRun" disabled="#{torRunChoose.selectedRow eq null}" update=":#{p:component('opRunCmr')}" oncomplete="PF('chooseRun').hide();" >
							</p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>			
			</p:dialog>
		<p:outputPanel layout="block" rendered="#{!torSolutionEdit.control}" id="strangeControls">
			<p:remoteCommand name="keyDown" actionListener="#{torSolutionEdit.hotKeyListener}" update="dataTableSolution">
				<f:attribute name="forTable" value="dataTableSolution"/>	
			</p:remoteCommand>		
			<p:remoteCommand name="keyNavi" actionListener="#{torSolutionEdit.naviListener}" update="dataTableSolution">
				<f:attribute name="forTable" value="dataTableSolution"/>	
			</p:remoteCommand>	
			<p:remoteCommand name="justSave" action="#{torSolutionEdit.saveRow}">
				<f:attribute name="forTable" value="dataTableSolution"/>	
			</p:remoteCommand>	
			<p:remoteCommand name="keysTime" actionListener="#{torSolutionEdit.keysTime}" >
				<f:attribute name="forTable" value="dataTableSolution"/>	
			</p:remoteCommand>				
			<script>
			    $(document).off('keydown').on('keydown', function(){
			    	var pattern = new RegExp("[a-fA-FxXzZ]");
			    	var charDown=String.fromCharCode(event.keyCode);		    	
					if (event.keyCode==38) {
			        	keyNavi([{name:'step', value:'-1'}]);
			        	var eles=$("[aria-selected='true']").find('.tcTime');
			        	if (eles &amp;&amp; eles.length>0) {
			        		var ele=$(eles.get(0));
			        		ele.focus();
					    }
			            return false;												
					} 
					else if (event.keyCode==40) {
			        	keyNavi([{name:'step', value:'1'}]);
			        	var eles=$("[aria-selected='true']").find('.tcTime');
			        	if (eles &amp;&amp; eles.length>0) {
			        		var ele=$(eles.get(0));
			        		ele.focus();
					    }
			            return false;						
					} 
					else if (event.keyCode==13) {
			        	justSave();
			        	keyNavi([{name:'step', value:'1'}]);
			        	var eles=$("[aria-selected='true']").find('.tcTime');
			        	if (eles &amp;&amp; eles.length>0) {
			        		var ele=$(eles.get(0));
			        		ele.focus();
					    }
			            return false;												
					} 
					else if(pattern.test(charDown)) {
			        	keyDown([{name:'key', value:event.keyCode}]);
			        	var eles=$("[aria-selected='true']").find('.tcTime');
			        	if (eles &amp;&amp; eles.length>0) {
			        		var ele=$(eles.get(0));
			        		ele.focus();
					    }
			            return false;
			        }
			    })
			</script>				
		</p:outputPanel>		
	</h:form>
			<h:outputScript>
				PF('chooseRun').show();
			</h:outputScript>	
</ui:composition>