<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
 	<script>
		$(document).off('keydown');
	</script>
	<h:form id="formTorTypesEdit" >
		<p:panel header="Događaji">
			<p:outputPanel id="table">
				<p:outputPanel id="example" layout="block">	
					<h:panelGrid columns="5">
						<p:ajax event="keyup" listener="#{torTypesEdit.searchListener}" process="example"  update="dataTable" />
						<h:outputLabel value="Domena" />
						<h:outputLabel value="Oznaka" />
						<h:outputLabel value="Naziv" />
						<h:outputLabel value="Opis" />						
						<h:outputLabel value="" />
						<p:inputText value="#{torTypesEdit.example.domain}"></p:inputText>						
						<p:inputText value="#{torTypesEdit.example.code}"></p:inputText>
						<p:inputText value="#{torTypesEdit.example.name}"></p:inputText>
						<p:inputText value="#{torTypesEdit.example.description}"></p:inputText>
						<p:commandButton partialSubmit="true" process="example" value="Search" icon="ui-icon-search"  update="dataTable"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torTypesEdit.dataList}" 
							var="evn" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torTypesEdit.selectedRow}" rowKey="#{evn.id}"	
							resizableColumns="true"
							id="dataTable"				
				>
					<p:ajax event="rowEdit" listener="#{torTypesEdit.rowEditCompleteListener}"  update=":#{p:component('toolbar')}"  ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torTypesEdit.rowEditInitListener}" update=":#{p:component('toolbar')}"   ></p:ajax>
					<p:ajax event="rowEditCancel" listener="#{torTypesEdit.rowEditCancelListener}" update=":#{p:component('toolbar')}" ></p:ajax>
					<p:column headerText="" resizable="false" width="20">
					</p:column>					
					<p:column headerText="Domena">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.domain}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{evn.domain}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				

					<p:column headerText="Oznaka">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.code}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{evn.code}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Naziv">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.name}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{evn.name}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>			
					<p:column headerText="Opis">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{evn.description}" />
							</f:facet>
							<f:facet name="input">
								<h:inputText value="#{evn.description}" />
							</f:facet>						
						</p:cellEditor>
					</p:column>												
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>
					</p:column>						
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbar">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Novi zaps" action="#{torTypesEdit.createRow}" update="newTorTypes" oncomplete="PF('newTorTypes').show()">							
							</p:commandButton>
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torTypesEdit.deleteRow}"></p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torTypesEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torTypesEdit.save}" disabled="#{!torTypesEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>
			</p:outputPanel>			
			<p:dialog widgetVar="newTorTypes">
				<p:ajax event="close"  listener="#{torTypesEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorTypes">
				<h:panelGrid columns="4" rendered="#{torTypesEdit.newRow!=null}">
						<h:outputLabel value="Domena" />
						<h:outputLabel value="Oznaka" />
						<h:outputLabel value="Naziv" />
						<h:outputLabel value="Opis" />						
						<p:inputText value="#{torTypesEdit.newRow.domain}"></p:inputText>						
						<p:inputText value="#{torTypesEdit.newRow.code}"></p:inputText>
						<p:inputText value="#{torTypesEdit.newRow.name}"></p:inputText>
						<p:inputText value="#{torTypesEdit.newRow.description}"></p:inputText>
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torTypesEdit.cancelCreateRow}" oncomplete="PF('newTorTypes').hide()"></p:commandButton>
						</f:facet>						
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torTypesEdit.save}" oncomplete="PF('newTorTypes').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
		</p:panel>
	</h:form>
</ui:composition>