<?xml version="1.0" encoding="UTF-8"?>  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
 >
	<h:form id="formTorTaskEdit" >
		<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"  />  
		<p:panel header="Utrke/stage">
			<p:outputPanel id="tableRun" layout="block">
				<p:outputPanel id="exampleRun" layout="block">	
					<h:panelGrid columns="7" rendered="true">
						<p:ajax event="keyup" listener="#{torRunEdit.searchListener}" process="exampleRun"  update="dataTableRun" />
						<h:outputLabel value="Short" />
						<h:outputLabel value="Name" />
						<h:outputLabel value="Desc." />
						<h:outputLabel value="Start" />
						<h:outputLabel value="Event" />						
						<h:outputLabel value="Competition" />
						<h:outputLabel value="" />
						<p:inputText value="#{torRunEdit.example.code}"></p:inputText>
						<p:inputText value="#{torRunEdit.example.name}"></p:inputText>
						<p:inputText value="#{torRunEdit.example.description}"></p:inputText>
						<p:calendar value="#{torRunEdit.example.startTime}" pattern="d.M.yyyy. HH:mm">
							<f:convertDateTime type="date" pattern="d.M.yyyy. HH:mm"  />
						</p:calendar>
						<p:selectOneMenu value="#{torRunEdit.torEvent}">
							<f:selectItems value="#{listOfValues.torEvents}" var="evn" itemLabel="#{evn.name}" itemValue="#{evn}"/>
							<p:ajax event="change" process="@this" update="somCmn"></p:ajax>
						</p:selectOneMenu>						
						<p:selectOneMenu value="#{torRunEdit.torCompetition}" id="somCmn">
							<f:attribute name="torEvent" value="#{torRunEdit.torEvent}"/>
							<f:selectItems value="#{listOfValues.torCompetitionsByEvent}" var="cmn" itemLabel="#{cmn.name}" itemValue="#{cmn}"/>							
						</p:selectOneMenu>
						<p:commandButton partialSubmit="true" process="exampleRun" value="Search" icon="ui-icon-search"  update="dataTableRun"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="false" lazy="true" value="#{torRunEdit.dataList}" 
							var="cmp" paginator="false" rows="10"
							selectionMode="single"
							selection="#{torRunEdit.selectedRow}" rowKey="#{cmp.id}"	
							resizableColumns="true"
							id="dataTableRun"				
				>
					<p:ajax event="rowSelect" update=":#{p:component('tableTask')}"></p:ajax>		
					<p:column headerText="" resizable="false" width="20">
					</p:column>								
					<p:column headerText="Code">
						<h:outputText value="#{cmp.code}" />
					</p:column>				
					<p:column headerText="Name">
						<h:outputText value="#{cmp.name}" />
					</p:column>			
					<p:column headerText="Desc.">
						<h:outputText value="#{cmp.description}" />
					</p:column>
					<p:column headerText="Start">
						<h:outputText value="#{cmp.startTime}" >
							<f:convertDateTime pattern="dd.MM.yyyy. HH:mm" />
						</h:outputText>
					</p:column>			
					<p:column headerText="Type">						
						<p:selectOneMenu  value="#{cmp.torTypes}" filter="true" disabled="true">
							<f:attribute name="domain" value="competitionType" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>			
					<p:column headerText="Status">						
						<p:selectOneMenu  value="#{cmp.torTypeStatus}" filter="true" disabled="true">
							<f:attribute name="domain" value="status" />							
							<f:selectItem itemValue="#{null}" itemLabel="-empty-"/>
							<f:selectItems value="#{listOfValues.torTypess}" var="cny" itemLabel="#{cny.name}" itemValue="#{cny}">								
							</f:selectItems>
						</p:selectOneMenu>	
					</p:column>										
				</p:dataTable>
			</p:outputPanel>
		</p:panel>			
		<p:panel header="Tasks">	
			<p:outputPanel id="tableTask" layout="block">
				<p:outputPanel id="exampleTask" layout="block">	
					<h:panelGrid columns="7" rendered="true">
						<p:ajax event="keyup" listener="#{torTaskEdit.searchListener}" process="exampleTask"  update="dataTableTask" />
						<h:outputLabel value="Category" />
						<h:outputLabel value="Parent" />
						<h:outputLabel value="Type" />
						<h:outputLabel value="No" />
						<h:outputLabel value="Solution" />
						<h:outputLabel value="Status" />							
						<h:outputLabel value="" />
						<p:selectOneMenu  value="#{torTaskEdit.example.torCategory}" >
							<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
							</f:selectItems>
						</p:selectOneMenu>							
						<p:selectOneMenu value="#{torTaskEdit.example.torTask}"  filter="true">
							<f:attribute name="run" value="#{torTaskEdit.master.selectedRow}"/>
							<f:attribute name="type" value="st"/>				
							<f:selectItem itemLabel="-all-" itemValue="#{null}"/>				 	
							<f:selectItems value="#{listOfValues.torTasks}" var="typ" itemLabel="#{typ.torTypeType.name} #{typ.no}" itemValue="#{typ}"/>
							<p:ajax event="change" partialSubmit="true" process="@this" update="@this"></p:ajax>
						</p:selectOneMenu>
						<p:selectOneMenu value="#{torTaskEdit.example.torTypeType}">
							<f:attribute name="domain" value="taskType"/>
							<f:selectItem itemLabel="-all-" itemValue="#{null}"/>						 	
							<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>												
						<p:inputText value="#{torTaskEdit.example.no}"></p:inputText>
						<p:inputText value="#{torTaskEdit.example.solution}"></p:inputText>
					 	<p:selectOneMenu value="#{torTaskEdit.example.torTypeStatus}">
							<f:attribute name="domain" value="taskStatus"/>					 	
							<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>																		
						<p:commandButton partialSubmit="true" process="exampleTask" value="Search"  action="#{torTaskEdit.search}"  icon="ui-icon-search" update="dataTableTask"></p:commandButton>
					</h:panelGrid>
				</p:outputPanel>			
				<p:dataTable editable="true" lazy="true" value="#{torTaskEdit.dataList}" 
							var="tsk" paginator="true" rows="10"
							selectionMode="single"
							selection="#{torTaskEdit.selectedRow}" rowKey="#{tsk.id}"	
							resizableColumns="true"
							id="dataTableTask"				
				>
					<p:ajax event="rowEdit" listener="#{torTaskEdit.rowEditCompleteListener}"  update=":#{p:component('toolbarTask')}"  ></p:ajax>
					<p:ajax event="rowEditInit" listener="#{torTaskEdit.rowEditInitListener}" update=":#{p:component('toolbarTask')}"   ></p:ajax>				
							
					<p:column headerText="" resizable="false" width="20">
					</p:column>		
					<p:column>
						<p:cellEditor>
							<f:facet name="input">
								<p:selectOneMenu  value="#{tsk.torCategory}" >
									<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
									</f:selectItems>
								</p:selectOneMenu>								
							</f:facet>
							<f:facet name="output">
								<p:selectOneMenu  value="#{tsk.torCategory}" disabled="true">
									<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
									</f:selectItems>
								</p:selectOneMenu>								
							</f:facet>							
						</p:cellEditor>
					</p:column>				
					<p:column headerText="Parent">
						<p:cellEditor>					
							<f:facet name="input">
								<p:selectOneMenu value="#{tsk.torTask}" id="somTask" filter="true">
									<f:attribute name="run" value="#{torTaskEdit.master.selectedRow}"/>
									<f:attribute name="type" value="st"/>				
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>				 	
									<f:selectItems value="#{listOfValues.torTasks}" var="typ" itemLabel="#{typ.torTypeType.name} #{typ.no}" itemValue="#{typ}"/>
									<p:ajax event="change" partialSubmit="true" process="@this" update="@this"></p:ajax>
								</p:selectOneMenu>					
							</f:facet>
							<f:facet name="output">
								<h:outputText value="#{tsk.torTask.torTypeType.name} #{tsk.torTask.no}"  rendered="#{tsk.torTask!=null}"/>
								<h:outputText value=""  rendered="#{tsk.torTask==null}"/>
							</f:facet>
						</p:cellEditor>
					</p:column>													
					<p:column headerText="Type">
						<p:cellEditor>					
							<f:facet name="input">
								<p:selectOneMenu value="#{tsk.torTypeType}" >
									<f:attribute name="domain" value="taskType"/>					 	
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>
									<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>						
							</f:facet>
							<f:facet name="output">
								<h:outputText value="#{tsk.torTypeType!=null ? tsk.torTypeType.name : ''}" />
							</f:facet>
						</p:cellEditor>
					</p:column>								
					<p:column headerText="No">
						<p:cellEditor>					
							<f:facet name="input">
								<h:inputText value="#{tsk.no}" />						
							</f:facet>
							<f:facet name="output">
								<h:outputText value="#{tsk.no}" />
							</f:facet>
						</p:cellEditor>
					</p:column>										
					<p:column headerText="Solution">
						<p:cellEditor>					
							<f:facet name="input">
								<h:inputText value="#{tsk.solution}" />						
							</f:facet>
							<f:facet name="output">
								<h:outputText value="#{tsk.solution}" />
							</f:facet>
						</p:cellEditor>
					</p:column>												
					<p:column headerText="Status">
						<p:cellEditor>					
							<f:facet name="input">
								<p:selectOneMenu value="#{tsk.torTypeStatus}" >
									<f:attribute name="domain" value="taskStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>						
							</f:facet>
							<f:facet name="output">
							 	<p:selectOneMenu value="#{tsk.torTypeStatus}" disabled="true">
									<f:attribute name="domain" value="taskStatus"/>
									<f:selectItem itemLabel="-none-" itemValue="#{null}"/>					 	
									<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
								</p:selectOneMenu>								
							</f:facet>
						</p:cellEditor>
					</p:column>								
					<p:column resizable="false" width="50">
						<p:rowEditor></p:rowEditor>						
					</p:column>										
				</p:dataTable>
				<p:outputPanel layout="block" id="toolbarTask">
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="New"  icon="ui-icon-plusthick" action="#{torTaskEdit.createRow}"  update="newTorTask" oncomplete="if (args &amp;&amp; !args.validationFailed)  PF('newTorTask').show()">							
							</p:commandButton>
							<p:selectOneMenu  value="#{torTaskEdit.torCategory}" >
								<f:selectItem itemLabel="-empty-" itemValue="#{null}"/>								
								<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
								</f:selectItems>
							</p:selectOneMenu>										
							<p:commandButton value="Delete"  icon="ui-icon-trash" action="#{torTaskEdit.deleteRow}">
								<p:confirm header="Warning!" message="Are you sure you want to delete selected record?" icon="ui-icon-alert"></p:confirm>
							</p:commandButton>
							<p:commandButton value="Export"></p:commandButton>
							<p:commandButton value="Import"></p:commandButton>
						</f:facet>
						<f:facet name="right">
							<h:outputText value="Changed"  rendered="#{torTaskEdit.changed}"/>
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torTaskEdit.save}" disabled="#{!torTaskEdit.changed}"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>		
			</p:outputPanel>
		
		
			<p:dialog widgetVar="newTorTask" closable="false">
				<p:ajax event="close" listener="#{torTaskEdit.cancelCreateRowListener}"></p:ajax>
				<p:outputPanel layout="block" id="newTorTask" >
				<h:panelGrid columns="6" rendered="#{torTaskEdit.newRow!=null}">
						<h:outputLabel value="Category" />
						<h:outputLabel value="Type" />
						<h:outputLabel value="Parent" />						
						<h:outputLabel value="No" />
						<h:outputLabel value="Solution" />
						<h:outputLabel value="Status" />		
						<p:selectOneMenu  value="#{torTaskEdit.newRow.torCategory}"  disabled="true">
							<f:selectItems value="#{listOfValues.torCategorys}" var="ctg" itemLabel="#{ctg.name}" itemValue="#{ctg}">								
							</f:selectItems>
						</p:selectOneMenu>								
						<p:selectOneMenu value="#{torTaskEdit.newRow.torTypeType}" id="somType">
							<f:attribute name="domain" value="taskType"/>					 	
							<f:selectItems value="#{listOfValues.torTypess2}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
							<p:ajax event="change" partialSubmit="true" process="@this" update="itSolution"></p:ajax>
						</p:selectOneMenu>
						<p:selectOneMenu value="#{torTaskEdit.newRow.torTask}" id="somTask" filter="true">
							<f:attribute name="run" value="#{torTaskEdit.master.selectedRow}"/>
							<f:attribute name="type" value="st"/>				
							<f:selectItem itemLabel="-none-" itemValue="#{null}"/>				 	
							<f:selectItems value="#{listOfValues.torTasks}" var="typ" itemLabel="#{typ.torTypeType.name} #{typ.no} #{typ.torCategory.name}" itemValue="#{typ}" >
								<f:attribute name="category" value="#{torTaskEdit.torCategory}"/>		
							</f:selectItems>
							<p:ajax event="change" partialSubmit="true" process="@this" update="@this"></p:ajax>
						</p:selectOneMenu>						
						<p:inputText value="#{torTaskEdit.newRow.no}" id="itNo"></p:inputText>
						<p:inputText value="#{torTaskEdit.newRow.solution}" id="itSolution" disabled="#{torTaskEdit.newRow.torTypeType!=null and torTaskEdit.newRow.torTypeType.code eq 'st'}"></p:inputText>
					 	<p:selectOneMenu value="#{torTaskEdit.newRow.torTypeStatus}" id="somStatus">
							<f:attribute name="domain" value="taskStatus"/>					 	
							<f:selectItems value="#{listOfValues.torTypess}" var="typ" itemLabel="#{typ.name}" itemValue="#{typ}"/>
						</p:selectOneMenu>								
						<p:message display="tooltip" for="itNo"></p:message>
						<p:message display="tooltip" for="itSolution"></p:message>
						<p:message display="tooltip" for="somType"></p:message>
						<p:message display="tooltip" for="somStatus"></p:message>						
				</h:panelGrid>
					<p:toolbar>
						<f:facet name="left">
							<p:commandButton value="Cancel" icon="ui-icon-cancel" action="#{torTaskEdit.cancelCreateRow}" oncomplete="PF('newTorTask').hide()"></p:commandButton>
						</f:facet>									
						<f:facet name="right">
							<p:commandButton value="Save" icon="ui-icon-disk" action="#{torTaskEdit.save}" partialSubmit="true" process="newTorTask" update="newTorTask" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('newTorTask').hide()"></p:commandButton>
						</f:facet>				
					</p:toolbar>
				</p:outputPanel>					
			</p:dialog>
			<p:confirmDialog message="Record delete, are your sure?"
				header="Delete" severity="alert"	widgetVar="cdTask">
				<p:commandButton value="Yes" action="#{torRunEditDetail.deleteRow}"  update="tableTask"
					oncomplete="PF('cdTask').hide()"/>
				<p:commandButton value="No" onclick="PF('cdTask').hide();" type="button" />
			</p:confirmDialog>						
		</p:panel>
			<script>
			    $(document).off('keydown');
			</script>		
	</h:form>
</ui:composition>