.ui-widget {
    font-size: 13px;
 }

 
.ui-button-text {
     padding-top: 1px !important;
     padding-bottom: 1px !important;
}


.ui-menu {
	padding: 1px !important;
}


.ui-datatable tbody td {
	padding: 2px 10px !important;
}

.ui-row-editor {
	width: 40px !important;
}

.ui-datatable thead th {
	padding: 2px 10px !important;
}

.ui-growl {
	width:501px !important;
}

.ui-growl-message {
	width:420px !important;
}

.tc-toggler-button {
	height:14px; 
	border-top: 0px; 
	border-bottom:0px; 
	padding-top:0px; 
	padding-bottom:0px;
}

.logonLabel {
	font-family: 'Verdana', sans-serif;
	font-variant: small-caps;
}